In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data=pd.read_csv("https://www.dropbox.com/s/argivhofekhaoau/BusinessSales.csv?dl=1")

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   division            1000 non-null   object
 1   level of education  1000 non-null   object
 2   training level      1000 non-null   int64
 3   work experience     1000 non-null   int64
 4   salary              1000 non-null   int64
 5   sales               1000 non-null   int64
dtypes: int64(4), object(2)
memory usage: 47.0+ KB

In [ ]:
data.head(10)

,division,level of education,training level,work experience,salary,sales
0,peripherals,associate's degree,1,2,66790,193711
1,office supplies,high school,0,4,63143,200167
2,printers,associate's degree,0,6,86480,274258
3,computer software,associate's degree,2,5,103573,358491
4,computer hardware,some college,1,2,72166,216003
5,office supplies,associate's degree,0,6,77697,242302
6,computer hardware,bachelor's degree,0,2,70466,156463
7,computer hardware,associate's degree,1,13,126635,498416
8,office supplies,bachelor's degree,3,5,98950,374123
9,peripherals,some college,2,7,96594,403107

In [ ]:
data.describe()

       training level  work experience         salary          sales
count     1000.000000      1000.000000    1000.000000    1000.000000
mean         1.229000         6.079000   89862.131000  334793.255000
std          0.949453         2.913975   17672.253037  109864.104536
min          0.000000         0.000000   41539.000000   52114.000000
25%          0.000000         4.000000   77426.750000  256881.000000
50%          1.000000         6.000000   89070.000000  331629.500000
75%          2.000000         8.000000  101766.750000  408458.500000
max          3.000000        16.000000  158306.000000  772906.000000

In [ ]:
data.corr()

                 training level  work experience    salary     sales
training level         1.000000         0.019866  0.325558  0.523738
work experience        0.019866         1.000000  0.855077  0.819134
salary                 0.325558         0.855077  1.000000  0.904241
sales                  0.523738         0.819134  0.904241  1.000000

In [ ]:
data["division"].unique()

array(['peripherals', 'office supplies', 'printers', 'computer software',
       'computer hardware'], dtype=object)

In [ ]:
data["level of education"].unique()

array(["associate's degree", 'high school', 'some college',
       "bachelor's degree", "master's degree"], dtype=object)

In [ ]:
mapping={'high school' : 1, 'some college' : 2, "associate's degree" : 3, "bachelor's degree" : 4, "master's degree" : 5}
data["level of education"]=data["level of education"].map(mapping)
# data["level of education"]=np.int64(data["level of education"])

In [ ]:
data.head(20)

,division,level of education,training level,work experience,salary,sales
0,peripherals,3,1,2,66790,193711
1,office supplies,1,0,4,63143,200167
2,printers,3,0,6,86480,274258
3,computer software,3,2,5,103573,358491
4,computer hardware,2,1,2,72166,216003
5,office supplies,3,0,6,77697,242302
6,computer hardware,4,0,2,70466,156463
7,computer hardware,3,1,13,126635,498416
8,office supplies,4,3,5,98950,374123
9,peripherals,2,2,7,96594,403107
10,peripherals,2,0,6,81138,284888
11,peripherals,3,2,7,102695,429724
12,peripherals,3,1,3,76969,217667
13,office supplies,2,1,5,81051,325579
14,office supplies,3,0,3,66918,162686
15,office supplies,2,1,9,103675,463622
16,office supplies,4,0,11,108791,401124
17,peripherals,3,0,7,85894,249027
18,computer hardware,3,2,8,104641,438155
19,peripherals,2,2,7,92047,390213

In [ ]:
mapping2={'peripherals':3, 'office supplies':2, 'printers':1, 'computer software':5,
       'computer hardware':5}
data["division"]=data["division"].map(mapping2)

In [ ]:
data.head(20)

,division,level of education,training level,work experience,salary,sales
0,3,3,1,2,66790,193711
1,2,1,0,4,63143,200167
2,1,3,0,6,86480,274258
3,5,3,2,5,103573,358491
4,5,2,1,2,72166,216003
5,2,3,0,6,77697,242302
6,5,4,0,2,70466,156463
7,5,3,1,13,126635,498416
8,2,4,3,5,98950,374123
9,3,2,2,7,96594,403107
10,3,2,0,6,81138,284888
11,3,3,2,7,102695,429724
12,3,3,1,3,76969,217667
13,2,2,1,5,81051,325579
14,2,3,0,3,66918,162686
15,2,2,1,9,103675,463622
16,2,4,0,11,108791,401124
17,3,3,0,7,85894,249027
18,5,3,2,8,104641,438155
19,3,2,2,7,92047,390213

In [ ]:
data.corr()

,division,level of education,training level,work experience,salary,sales
division,1.000000,-0.019931,-0.007831,0.005668,0.185209,0.008823
level of education,-0.019931,1.000000,0.004151,0.065585,0.247502,0.063264
training level,-0.007831,0.004151,1.000000,0.019866,0.325558,0.523738
work experience,0.005668,0.065585,0.019866,1.000000,0.855077,0.819134
salary,0.185209,0.247502,0.325558,0.855077,1.000000,0.904241
sales,0.008823,0.063264,0.523738,0.819134,0.904241,1.000000

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   division            1000 non-null   int64
 1   level of education  1000 non-null   int64
 2   training level      1000 non-null   int64
 3   work experience     1000 non-null   int64
 4   salary              1000 non-null   int64
 5   sales               1000 non-null   int64
dtypes: int64(6)
memory usage: 47.0 KB

In [ ]:
data.columns

Index(['division', 'level of education', 'training level', 'work experience',
       'salary', 'sales'],
      dtype='object')

In [ ]:
x=data[['division', 'level of education', 'training level', 'work experience',
       'salary']]

In [ ]:
y=data['sales']

In [ ]:
x.shape

(1000, 5)

In [ ]:
y.shape

(1000,)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.7,random_state=256)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((700, 5), (300, 5), (700,), (300,))

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr=LinearRegression()

In [ ]:
lr.fit(x_train,y_train)

LinearRegression()

In [ ]:
y_precict_lr=lr.predict(x_test).astype("int64")

In [ ]:
y_precict_lr

array([278650, 229154, 508133, 389293, 394227, 387950, 247755,  96317,
       485347, 380936, 261222, 519717, 364363, 379409, 456139, 486912,
       434856, 309187, 426209, 488424, 294531, 421888, 392187, 187260,
       405031, 206077, 340352, 270990, 245713, 566467, 448852, 334813,
       348994, 366755, 329362, 324404, 133150, 264233, 270741, 218693,
       313756, 282784, 220485, 339072, 325497, 299764, 439645, 334295,
       415220, 469934, 379003, 201039, 315883, 281532, 234177, 406220,
       296102, 349353, 490580, 269641, 273242, 512354,  91384, 237194,
       345614, 229723, 509955, 236263, 279625, 203533, 373382, 330635,
       264701, 347796, 289834, 372722, 266583, 412955, 311195, 259645,
       130847, 516548, 291688, 256470, 396285, 386060, 278939, 401232,
       440017, 424826, 416867, 458408, 433025, 259568, 413916, 350867,
       330170, 440306, 435918, 215333, 392923, 405228, 305915, 501155,
       335488, 420912, 299516, 271499, 580017, 247071, 377670, 126582,
       331534, 492072, 215085, 275194, 308649, 469624, 310112, 407212,
       262826, 479458, 426135, 312893, 227960, 321535, 202877, 381743,
       341343, 389254, 481445, 403790, 509999, 304370, 207191, 222052,
       228960, 341443, 544346, 281293, 315607, 389694,  94272, 366835,
       244213, 360294, 413164, 327684, 244822, 381640, 342707, 232610,
       654040, 446409, 267027, 145575, 309168, 273164, 376550, 327842,
       442161, 433977, 280016, 154775, 416775, 256386, 145690, 340244,
       550338, 245122, 276804, 268132, 408533, 395947, 366199, 294816,
       178826, 297043, 239162, 407501, 279521, 502045, 378845, 328583,
       252058, 501656, 350863, 519998, 489890, 381358, 227354, 269534,
       146945, 325871, 181371, 350284, 338304, 239421, 343351, 341816,
       304830, 348984, 362270, 238544, 381752, 220107, 381990, 384365,
       398497, 359160, 345626, 453051, 181829, 552527, 326970, 440449,
       391614, 447011, 367008, 361774, 335448, 438255, 302400, 240328,
       415627, 279111, 409945, 454400, 262348, 298656, 438151, 137552,
       337554, 168051, 328169, 392897, 543513, 409655, 273255, 356454,
       419675, 256389, 342688, 464934, 227294, 264757, 416628, 426418,
       487738, 376538, 338996, 355604, 718874, 348990, 527159, 324306,
       180137, 461617, 413696,  73933, 520198, 423898, 301301, 228335,
       371369, 514310, 166583, 395903, 446491, 397128, 244682, 427457,
       355909, 306565, 391438, 346897, 397547, 329054, 199616, 292356,
       195025,  76318, 364661, 420528, 302906, 205151, 334178, 377785,
       400748, 121747, 303670, 156039, 245990, 161546, 362032, 211256,
       263908, 473063, 473789, 378401])

In [ ]:
from sklearn.metrics import mean_squared_error,mean_absolute_percentage_error,mean_absolute_error,explained_variance_score,accuracy_score

In [ ]:
mean_squared_error(y_test,y_precict_lr)

657666871.1

In [ ]:
mean_squared_error(y_test,y_precict_lr,squared=False)

25645.016496387754

In [ ]:
mean_absolute_error(y_test,y_precict_lr)

20878.446666666667

In [ ]:
mean_absolute_percentage_error(y_test,y_precict_lr)

0.07207930851866974

In [ ]:
print('Variance score: %.2f' % lr.score(x_test, y_test))

Variance score: 0.94

In [ ]:
explained_variance_score(y_test, y_precict_lr)

0.9429643101073251