In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option("display.max_columns",500)
pd.set_option("display.max_rows",10000000)

In [2]:
housing_final=pd.read_csv("New folder/Transformed_Housing_Data_me2.csv")

In [3]:
housing_final.head()

,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),Age of House (in Years),Latitude,Longitude,Living Area after Renovation (in Sqft),Lot Area after Renovation (in Sqft),Year Since Renovation,Condition_of_the_House_Excellent,Condition_of_the_House_Fair,Condition_of_the_House_Good,Condition_of_the_House_Okay,Ever_Renovated_Yes,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
0,221900.0,3,1.00,1180.0,5650.0,1.0,0,7,1180.0,0,63,47.5112,-122.257,1340.0,5650,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,538000.0,3,2.25,2570.0,7242.0,2.0,0,7,2170.0,400,67,47.7210,-122.319,1690.0,7639,26,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0
2,180000.0,2,1.00,770.0,10000.0,1.0,0,6,770.0,0,85,47.7379,-122.233,2720.0,8062,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
3,604000.0,4,3.00,1960.0,5000.0,1.0,0,7,1050.0,910,53,47.5208,-122.393,1360.0,5000,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0
4,510000.0,3,2.00,1680.0,8080.0,1.0,0,8,1680.0,0,31,47.6168,-122.045,1800.0,7503,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0

In [4]:
housing_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21609 entries, 0 to 21608
Data columns (total 31 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Sale_Price                                 21609 non-null  float64
 1   No of Bedrooms                             21609 non-null  int64
 2   No of Bathrooms                            21609 non-null  float64
 3   Flat Area (in Sqft)                        21609 non-null  float64
 4   Lot Area (in Sqft)                         21609 non-null  float64
 5   No of Floors                               21609 non-null  float64
 6   No of Times Visited                        21609 non-null  int64
 7   Overall Grade                              21609 non-null  int64
 8   Area of the House from Basement (in Sqft)  21609 non-null  float64
 9   Basement Area (in Sqft)                    21609 non-null  int64
 10  Age of House (in Years)                    21609 non-null  int64
 11  Latitude                                   21609 non-null  float64
 12  Longitude                                  21609 non-null  float64
 13  Living Area after Renovation (in Sqft)     21609 non-null  float64
 14  Lot Area after Renovation (in Sqft)        21609 non-null  int64
 15  Year Since Renovation                      21609 non-null  int64
 16  Condition_of_the_House_Excellent           21609 non-null  int64
 17  Condition_of_the_House_Fair                21609 non-null  int64
 18  Condition_of_the_House_Good                21609 non-null  int64
 19  Condition_of_the_House_Okay                21609 non-null  int64
 20  Ever_Renovated_Yes                         21609 non-null  int64
 21  Waterfront_View_Yes                        21609 non-null  int64
 22  Zipcode_Group_Zipcode_Group_1              21609 non-null  int64
 23  Zipcode_Group_Zipcode_Group_2              21609 non-null  int64
 24  Zipcode_Group_Zipcode_Group_3              21609 non-null  int64
 25  Zipcode_Group_Zipcode_Group_4              21609 non-null  int64
 26  Zipcode_Group_Zipcode_Group_5              21609 non-null  int64
 27  Zipcode_Group_Zipcode_Group_6              21609 non-null  int64
 28  Zipcode_Group_Zipcode_Group_7              21609 non-null  int64
 29  Zipcode_Group_Zipcode_Group_8              21609 non-null  int64
 30  Zipcode_Group_Zipcode_Group_9              21609 non-null  int64
dtypes: float64(9), int64(22)
memory usage: 5.1 MB

In [5]:
y=housing_final.iloc[:,0]
x=housing_final.iloc[:,1:31]

In [6]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21609 entries, 0 to 21608
Data columns (total 30 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   No of Bedrooms                             21609 non-null  int64
 1   No of Bathrooms                            21609 non-null  float64
 2   Flat Area (in Sqft)                        21609 non-null  float64
 3   Lot Area (in Sqft)                         21609 non-null  float64
 4   No of Floors                               21609 non-null  float64
 5   No of Times Visited                        21609 non-null  int64
 6   Overall Grade                              21609 non-null  int64
 7   Area of the House from Basement (in Sqft)  21609 non-null  float64
 8   Basement Area (in Sqft)                    21609 non-null  int64
 9   Age of House (in Years)                    21609 non-null  int64
 10  Latitude                                   21609 non-null  float64
 11  Longitude                                  21609 non-null  float64
 12  Living Area after Renovation (in Sqft)     21609 non-null  float64
 13  Lot Area after Renovation (in Sqft)        21609 non-null  int64
 14  Year Since Renovation                      21609 non-null  int64
 15  Condition_of_the_House_Excellent           21609 non-null  int64
 16  Condition_of_the_House_Fair                21609 non-null  int64
 17  Condition_of_the_House_Good                21609 non-null  int64
 18  Condition_of_the_House_Okay                21609 non-null  int64
 19  Ever_Renovated_Yes                         21609 non-null  int64
 20  Waterfront_View_Yes                        21609 non-null  int64
 21  Zipcode_Group_Zipcode_Group_1              21609 non-null  int64
 22  Zipcode_Group_Zipcode_Group_2              21609 non-null  int64
 23  Zipcode_Group_Zipcode_Group_3              21609 non-null  int64
 24  Zipcode_Group_Zipcode_Group_4              21609 non-null  int64
 25  Zipcode_Group_Zipcode_Group_5              21609 non-null  int64
 26  Zipcode_Group_Zipcode_Group_6              21609 non-null  int64
 27  Zipcode_Group_Zipcode_Group_7              21609 non-null  int64
 28  Zipcode_Group_Zipcode_Group_8              21609 non-null  int64
 29  Zipcode_Group_Zipcode_Group_9              21609 non-null  int64
dtypes: float64(8), int64(22)
memory usage: 4.9 MB

In [7]:
y.info()

<class 'pandas.core.series.Series'>
RangeIndex: 21609 entries, 0 to 21608
Series name: Sale_Price
Non-Null Count  Dtype
--------------  -----
21609 non-null  float64
dtypes: float64(1)
memory usage: 168.9 KB

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [10]:
x_train.shape

(15126, 30)

In [11]:
x_test.shape

(6483, 30)

In [12]:
y_train.shape

(15126,)

In [13]:
y_test.shape

(6483,)

In [14]:
from sklearn import preprocessing
scale=preprocessing.StandardScaler()

In [15]:
x_train=scale.fit_transform(x_train)

In [16]:
x_train

array([[ 0.6947042 ,  1.78139124,  1.34080936, ..., -0.11338681,
        -0.16837455, -0.04457893],
       [-0.40160208, -1.43969155, -0.34409508, ..., -0.11338681,
        -0.16837455, -0.04457893],
       [-0.40160208, -1.43969155, -1.18654729, ..., -0.11338681,
        -0.16837455, -0.04457893],
       ...,
       [-0.40160208,  0.49295812,  2.2804676 , ..., -0.11338681,
        -0.16837455, -0.04457893],
       [-0.40160208, -1.43969155, -0.45210177, ...,  8.81936789,
        -0.16837455, -0.04457893],
       [-0.40160208, -1.43969155, -0.86252721, ..., -0.11338681,
        -0.16837455, -0.04457893]])

In [17]:
x_test=scale.fit_transform(x_test)
x_test

array([[ 0.63802443,  2.17218509,  1.19617434, ..., -0.10963568,
         5.88395098, -0.05562857],
       [ 0.63802443, -0.14348903, -0.61397725, ..., -0.10963568,
        -0.16995383, -0.05562857],
       [-0.39296071,  0.51813215, -0.60287203, ..., -0.10963568,
        -0.16995383, -0.05562857],
       ...,
       [-0.39296071, -0.47429962, -0.0920317 , ..., -0.10963568,
        -0.16995383, -0.05562857],
       [ 0.63802443,  1.8413745 ,  1.5848572 , ..., -0.10963568,
        -0.16995383, -0.05562857],
       [-0.39296071, -0.14348903, -0.74723994, ..., -0.10963568,
        -0.16995383, -0.05562857]])